* { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

:root { 
    /* Colors */
    --yellow: hsl(47, 88%, 63%); 
    --gray-950: hsl(0, 0%, 7%); 
    --gray-500: hsl(0, 0%, 47%);
    --white: hsl(0, 0%, 100%); 
    /* Font size */
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 24px; 
    /* padding */
    --padding-s: 4px; 
    --padding-m: 8px; 
    --padding-l: 12px; 
    --padding-xl: 24px; 
}


body { 
    background-color: var(--yellow);
    font-family: "Figtree" , sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-xl);
}

.card-container { 
    background-color: var(--white);
    padding: var(--padding-xl); 
    border-radius: 10px;
    max-width: 384px;
    box-shadow: 10px 10px 0 black;
    border: 1px solid black ;
}

.card-img img{ 
    width: 100%;
    border-radius: 10px;
}

.tag { 
    display: inline-block;
    border-radius: 4px;
    margin-top: 12px;
    padding: var(--padding-s) var(--padding-l); 
    background-color: var(--yellow);
    font-weight: 800;
    font-size: var(--font-size-s);
}

.publish-date { 
    margin-top: 8px;
    font-size: var(--font-size-s);
    font-weight: 500;
    margin-bottom: 8px;
}

.card-header h1{ 
    font-size: var(--font-size-l);
    font-weight: 800;
    margin-bottom: 5px;   
    transition: 0.3s color ease;
    padding: 5px 0px;
}

@media (max-width: 384px) { 
   .card-header h1 { 
    font-size: 22px;
   }   
}


.card-header:hover { 
    color: var(--yellow);
    cursor: pointer;
}

.card-caption { 
    font-size: var(--font-size-m);
    color: var(--gray-500);
    line-height: 1.5; 
}


.author { 
    display: flex;
    align-items: center;
    margin-top: 22px;
    gap: 8px;
}

.author p { 
    font-weight: 800;
    font-size: var(--font-size-s);
}

.author img { 
    height: 35px;
}
